@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  .navitem[data-highlighted='true']:first-of-type {
    @apply border-l;
  }

  .custom-collapse[open], .custom-collapse > input[type=checkbox]:checked ~.collapse-title .custom-collapse-arrow {
    @apply rotate-0;
  }
  .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
    background-color: rgba(3,4,78,.25) !important;
  }

  
  .prose a {
    @apply link;
  }
  .prose ul {
    @apply py-4 pl-10 list-disc;
  }
  .prose ol {
    @apply py-4 pl-10 list-decimal;
  }

  .prose.plp-seo {
    @apply leading-[25px] text-gray-750;
  }
  .prose.plp-seo p {
    @apply my-[10px];
  }
  .prose.plp-seo h2, .prose.plp-seo h3 {
    @apply font-bold uppercase text-lg text-primary-500 mb-[5px];
  }
  .prose.plp-seo b, .prose.plp-seo strong {
    @apply font-bold text-primary-500;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@layer components {
  .container-center-plp {
    @apply w-full mx-auto md:max-w-[calc(96rem-10vw)];
  }
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}